@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.bg-custom-size {
  background-size: 100%;
  min-height: 20rem;
  margin-right: -3%;
}

@media (min-width: 1536px) {
  .bg-custom-size {
    background-size: 102%;
    margin-top: 2%; 
    padding-top: 47.25%;
    margin-right: -5%;   
    margin-left: -4%;
  }
}

@media (min-width: 1200px) and (max-width: 1535px) {
  .bg-custom-size {
    background-size: 102%;
    margin-top: 2%; 
    padding-top: 47.25%;
    margin-right: -3%;   
    margin-left: -3%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .bg-custom-size {
    background-size: 102%;
    margin-top: 2%;
    padding-top: 56.25%;
    margin-left: -2%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bg-custom-size {
    background-size: 95%;
    margin-left: 12%;
    margin-top: 0;
    padding-top: 78.25%;
  }
}



@media (min-width: 640px) and (max-width: 767px) {
  .bg-custom-size {
    background-size: 93%;
    margin-left: 12%;
    margin-top: 1%;
    padding-top: 78.25%;
  }
}

@media (min-width: 400px) and (max-width: 639px) {
  .bg-custom-size {
    background-size: 95%;
    margin-left: 12%;
    margin-right: 0;
    width: 88%;
    min-height: 18rem;
  }
}


@media (min-width: 381px) and (max-width: 399px) {
  .bg-custom-size {
    background-size: 100%;
    margin-left: 0;
    width: 88%;
    min-height: 18rem;
  }
}

@media (min-width: 360px) and (max-width: 380px) {
  .bg-custom-size {
    background-size: 100%;
    margin-left: 0;
    width: 88%;
    min-height: 17rem;
  }
}

@media (min-width: 200px) and (max-width: 359px) {
  .bg-custom-size {
   width: 50%;
   margin-left: 0;
   min-height: 15rem;
  }
}

@media (max-width: 896px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .element {
    margin-top: 20px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 976px) {
  .container-min {
    max-width: 300px;
  }
}

@media (max-width: 976px) and (min-width: 360px) {
  .card-small {
    padding: 0.75rem; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.75rem; 
    margin-bottom: 1.25rem;
    background-color: white; 
    border-radius: 1rem; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #e5e7eb; 
    max-height: 1700px;
    overflow-y: auto;
    width: 100%;
    margin: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 976px) and (min-width: 360px) {
  .card-small {
    font-size: 0.75rem; 
    max-width: 90%; 
  }
}

@media (max-width: 976px) and (min-width: 360px) {
  .card-small .flex {
    justify-content: flex-start;
    margin-left: 5px;
  }
}

@media (max-width: 976px) and (min-width: 360px) {
  .card-small input[type="text"] {
    width: 90%; 
    padding: 0.5rem;
  }

  .card-small .mr-4 {
    margin-right: 5px;
  }
}

@media (max-width: 640px) {
  .photo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (min-width: 300px) and (max-width: 640px)  {
  .profile-info {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 1.75rem;
  }
  .profile-info .name {
    margin-right: 2.50rem;
  }

  .profile-info .m-l {
    margin-left: -1rem;
    margin-right: 0.75rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
}

@media (min-width: 300px) and (max-width: 640px)  {
     .info-block {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      margin-right: 0.75rem;
      margin-left: 2rem;
      font-weight: 700; 
      justify-content: space-between;
     }
}

@media (max-width: 979px) and (min-width: 360px) {
  .questions-small {
    overflow-y: auto;
    width: 100%;
    margin: 1rem;
    max-height: 300px; 
  }
  
  .questions-small .item:nth-child(n+4) {
    display: none;
  }
}

@media (max-width: 1950px) and (min-width: 979px) {
  .questions-lg {
    width: 300px;
    max-height: 800px; 
    overflow-y: auto; 
  }
}

.fixed.top-0 {
  top: 0;
}

.overflow-y-auto {
  overflow-y: hidden;
}
 @media (min-width: 1000px) and (max-width: 1240px) {
   .questions-laptop-small {
     overflow-y: auto;
     width: 100%;
     max-width: 250px;
     margin: 10px;
   }
     .containerPsy-laptop-small {
       overflow-y: auto;
       width: 400px;
       max-width: 100%;
     }
 }
@media (min-width: 1000px) and (max-width: 1023px) {
 .containerPsy-laptop-small-md {
   overflow-y: auto;
   width: 600px;
   max-width:100% ;
   margin-left: 20px;
 }
}
/* @media (max-width: 979px) and (min-width: 876px){
  .questions-laptop {
      overflow-y: auto;
      width: 20%;
      max-height: 800px;
    }
} */