@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.bg-custom-size {
  background-size: 105%;
  width: 100%;
  padding-top: 56.25%;
} 



@media (max-width: 1536px) {
  .bg-custom-size {
    background-size: 112%;
    margin-left: 2%;
    margin-top: 2%; 
  }
}

@media (max-width: 1200px) {
  .bg-custom-size {
    background-size: 110%;
    margin-left: 2%;
    margin-top: 2%; 
  }
}

@media (max-width: 1024px) {
  .bg-custom-size {
    background-size: 90%;
    margin-left: 10%;
    margin-top: 0;
    padding-top: 74.25%;
  }
}



@media (max-width: 768px) {
  .bg-custom-size {
    background-size: 90%;
    margin-left: 4%;
    margin-top: 4%;
  }
}

@media (max-width: 640px) {
  .bg-custom-size {
    background-size: 90%;
    margin-left: 10%;
    margin-top: 10%;

  }
}

@media (max-width: 360px) {
  .bg-custom-size {
    margin-left: 6%;
    margin-top: 2%;
  }
}